.d1 {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    /* text-align: center; */
}
.h1 {
    text-align: center;
}
.p1 {
    text-align: center;
    text-indent: 0px;
}
.span1 {
    color: grey;
    font-size: 14px;
}
.span2 {
    color: red;
    font-size: 14px;
}
.input1 {
    color: red;
    font-size: 12px;
}
.input2 {
    color: green;
    font-size: 12px;
    font-weight: 700;
}
.p2 {
    text-indent: 2em;
}
 