.header{
    background-color: white;
    height: 60px;

}
.header-c,
.suggest-c,
.product-c,
.aboutus-c,
.ad-c,
.join-c,
.footer-c{
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}
/* 头部 */
.header .logo{
    float: left;
    width: 22px;
    height: 60px;
    line-height: 60px;
    background: url(../img/logo.png) no-repeat center;
}
.header .nav{
    float: right;
}
.header .nav-item{
    float: left;
    height: 60px;
    padding: 0 39px;
    line-height: 60px;
    
}
.header .nav-item a{
    display: inline-block;
    height: 60px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #161616;
    text-align: center;
 
}
.header .nav-item.mr50{
    margin: 0 11px;
}
.header .nav-line{
    display: none;
    width: 40px;
    height: 2px;
    background-color: black;
    margin: 0 auto;
    margin-top: -13px;
}
.header .nav-item:hover .nav-line{
    display: block;
}
/* 轮播栏 */
.banner{
    position: relative;
    font-size: 0;  
}
.banner>a{
    display: inline-block;
    width: 100%;
    height: 800px;
    background: url(../img/banner2.png) no-repeat center;
    background-size: cover;
}
.banner .rotation{
    position: absolute;
    left: 50%;
    bottom: 40px;
    width: 240px;
    height: 30px;
    margin: 0 auto; 
    margin-left: -100px;
    z-index: 2;
    /* background-color: skyblue; */


}
.banner .rotation-item a{
    float: left;
    width: 20px;
    height: 20px;
    background-color: gray;
    opacity: 0.4;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin: 5px 30px;
    
}
.banner .rotation-item a:hover{
    opacity: 1;
}
/* 主体 */

.main .suggest-c{
    height: 480px;

}
.main .suggest-item{
    position: relative;
    float: left;
    width: 464px;
    height: 270px;
    background-color: pink;
    /* 没有背景图 */
    margin: 60px 24px 150px 0;

}
.main .suggest-item.mr0{
    margin-right: 0;
}
.main .suggest .ch-1{
    position: absolute;
    left: 30px;
    top: 82px;
    font-family: PingFangSC-Medium;
    font-size: 22px;
    color: #161616;
    letter-spacing: -0.53px;
}
.main .suggest .ch-2 a{
    position: absolute;
    left: 30px;
    bottom: 90px;
    width: 128px;
    height: 18px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #373737;
    letter-spacing: -0.31px;
}
/* 产品区 */
.main .product-c{
    height: 725px;

}
.product .product-list{
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 60px;

}
.product .product-class{
    display: inline-block;
    height: 25px;
}
.product .product-class a{
    float: left;
    padding: 0 40px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #161616;
    letter-spacing: -0.43px;

}
.product .list-line{
    display: none;
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 0 auto;
    margin-top: 31px;
    
}
.product .product-class:hover .list-line{
    display: block;
}
.product .product-img{
    float: left;
    width: 315px;
    height: 420px;
    margin-right: 60px;
    margin-bottom: 15px;
}
.product .product-img.mr0{
    margin-right: 0;
}
.product .product-name{
    position: relative;
    float: left;
    width: 315px;
    height: 100px;
    margin-right: 60px;

}
.product .product-name.mr0{
    margin-right: 0;
}
.product .name-1{
    position: absolute;
    left: 0;
    top: 0;
    line-height: 28px;
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #161616;
}
.product .name-2{
    position: absolute;
    right: 0;
    top: 4px;
    line-height: 22px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #161616;
    text-align: center;
}
.product .name-3{
    position: absolute;
    left: 0;
    top: 32px;
    line-height: 22px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #929292;
}
/* 关于我们 */
.main .aboutus{
    background: url(../img/aboutus.png) no-repeat center;
    height: 360px;
}
.main .aboutus-c{
    position: relative;
    height: 360px;
    

}
.aboutus .about-1{
    position: absolute;
    left: 100px;
    top: 74px;
    font-family: PingFangSC-Semibold;
    font-size: 24px;
    color: #161616;
    letter-spacing: -0.58px;
}
.aboutus .about-2{
    position: absolute;
    left: 100px;
    top: 127px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #505050;
    letter-spacing: -0.34px;
}
.aboutus .about-3 a{
    position: absolute;
    left: 100px;
    top: 247px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.34px;
    background-color: black;
}
/* 广告 */
.main .ad-c{
    height: 774px;
}
.ad .ad-item{
    float: left;
    height: 450px;
    width: 450px;
    margin: 150px 45px 0 0;
    background-color: pink;

}
.ad .ad-item.mr0{
    margin-right: 0;
}
.ad .cover{
    width: 450px;
    height: 100px;
    opacity: 0.8;
    background: #FFFFFF;
    margin-top: 260px;
    overflow: hidden;
}
.cover .text-1{
    font-family: PingFangSC-Medium;
    font-size: 24px;
    color: #4B5751;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 1px;

}
.cover .text-2{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #777777;
    letter-spacing: -0.34px;
    text-align: center;

}
/* 加入我们 */
.main .join{
    height: 300px;
    background: #FBF1EC;
}
.main .join-c{
    height: 300px;
    text-align: center;
    font-size: 0;
    overflow: visible;
    padding-top: 0.1px;
}
.join .text-1{
    height: 49px;
    line-height: 49px;
    font-family: PingFangSC-Semibold;
    font-size: 35px;
    color: #161616;
    letter-spacing: -0.84px;
    margin-top: -25px;

}
.join .text-2{
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #9E9E9E;
    letter-spacing: -0.34px;
    margin-top: 43px;
}
.join .line{
    display: inline-block;
    width: 750px;
    height: 0px;
    border: 1px solid #D5D5D5;
    margin-top: 3px;
}
.join .text-3 a{
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: black;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.34px;
    margin-top: 39px;
}
.join .text-4{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #777777;
    letter-spacing: -0.34px;
    text-align: center;
    margin-top: 30px;
}
/* 尾部 */
.footer{
    background-color: black;
    height: 269px;
}
.footer-c{
    width: fit-content;
    height: 269px;
    text-align: center;

}
.footer .footer-list{
    margin-top: 70px;
    float: left;

}
.footer .sublist{
    display: block;
    height: 22px;
    line-height: 22px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 70px 24px 70px;

}
.footer .item{
    display: block;
    height: 17px;
    line-height: 17px;
    opacity: 0.8;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    padding-bottom: 6px;

}
.footer .logo-2{
    background-color: white;
}
.footer .logo-1{
    padding: 0 10px;
}
.color .color-1{
    height: 300px;
    background: #FBF1EC;
    margin-top: 3198px;
}




